body {
    margin: 0 auto;
    /*max-width: 800px;*/
    padding: 0 20px;
}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 0px 10px 10px 10px;
    margin: 10px 0;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}


.time-right {
    float: right;
    color: #aaa;
}

.sender-left {
    float: left;
    color: #999;
}

a { 
    color: inherit;
    text-decoration:none;
} 

/*#chat_list {
    padding: 20px 0px 0px 0px;
}*/